.form {
  /* display: flex; */
  border-top: 2px solid #fff;
  border-left: 2rem solid #fff;
  border-radius: 1em;
}

.input {
  border: none;
  border-radius: 0;
  /* padding: 5%; */
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  /* background: #2979ff; */
  background: #21a3b7;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 1em;
}
