@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

.custom-login-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.custom-login-page section {
  position: relative;
  min-height: 100vh;
  background: #2c394b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.custom-login-page .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0 3px 2px white;
  overflow: hidden;
  border-radius: 25px;
}

.custom-login-page .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* #404040 */

.custom-login-page .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.custom-login-page .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-login-page .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  /* background: #fff; */
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.custom-login-page .container .user .formBx form h2 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.custom-login-page .container .user .formBx form h1 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 30px;
  color: #555;
}

.custom-login-page .container .user .formBx form h1 img {
  margin-right: 5px;
  margin-bottom: 8px;
}

.custom-login-page .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.custom-login-page .container .user .formBx form input[type="submit"] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

.custom-login-page .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
}

.custom-login-page .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.custom-login-page .container .signupBx {
  pointer-events: none;
}

.custom-login-page .active .signupBx {
  pointer-events: initial;
}

.custom-login-page .container .signupBx .formBx {
  left: 100%;
}

.custom-login-page .active .signupBx .formBx {
  left: 0;
}

.custom-login-page .container .signupBx .imgBx {
  left: -100%;
  margin-right: 10px;
}

.custom-login-page .active .signupBx .imgBx {
  left: 0;
}

.custom-login-page .container .signinBx .formBx {
  left: 0;
}

.custom-login-page .active .signinBx .formBx {
  left: 100%;
}

.custom-login-page .container .signinBx .imgBx {
  left: 0;
}

.custom-login-page .active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  .custom-login-page section .container {
    max-width: 400px;
  }

  .custom-login-page section .container .imgBx {
    display: none;
  }

  .custom-login-page section .container .user .formBx {
    width: 100%;
  }
}
